/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

/*
1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

header {
    width: 1443px;
    height: 68px;
    padding: 0px 100px;
    display: inline-block;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
}

header img {
    width: 170.62px;
    height: 28.56px;
}

header .nav {
    display: inline-block;
    align-items: center;
    margin-left: 176px;
}

header .nav ul li {
    display: inline-block;
    width: Hug (811px)px;
    height: Hug (68px)px;
    margin-right: 40px;
    font-size: 20px;
}

header .nav ul button {
    background-color: transparent;
    width: Hug (231px)px;
    height: Hug (68px)px;
    padding: 20px 35px 20px 35px;
    border-radius: 14px;
    border: 1px solid #000000;
}

header .nav ul .btn-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: black;
}

.hero {
    margin: 70px 100px;
    width: Fixed (1, 240px)px;
    height: Hug (515px)px;
    justify-content: space-between;
    display: flex;
}

.hero-typo {
    width: 531px;
    height: 481px;
    margin-right: 108px;
}

.hero-typo h1 {
    width: 531px;
    height: 231px;
    font-size: 60px;
    font-weight: 500;
    line-height: 76.56px;
    text-align: left;
    margin-top: 70px;
}

.hero-typo p {
    width: 498px;
    height: 112px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.hero-img {
    width: 600.46px;
    height: 515px;
    border: 1px 0px 0px 0px;
    margin-top: 70px;
}

.hero-typo button {
    width: Hug (264px)px;
    height: Hug (68px)px;
    padding: 20px 35px 20px 35px;
    border-radius: 14px;
    background-color: #191A23;
    margin-top: 35px;
}

button .btn-typo {
    width: 194px;
    height: 28px;
    margin-bottom: 34px;
}

.btn-typo {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    font-family: Space Grotesk;
}

.logo {
    width: Fixed (1, 440px)px;
    height: Hug (48px)px;
    padding: 0px 100px 0px 100px;
    display: flex;
    margin-top: 70px;
    margin-bottom: 115px;
}

.logo img {
    width: Fixed (1, 240px)px;
    height: Hug (48px)px;
    margin-right: 96.56px;
}

.services {
    width: Fixed (1, 443px)px;
    height: Fixed (51px)px;
    top: 926px;
    padding: 0px 100px 0px 100px;
    margin-top: 115px;
    margin-bottom: 120px;
}

.sv-head {
    align-items: center;
    display: flex;
    width: Fixed (1, 240px)px;
    height: Hug (51px)px;
}

.sv-head h2 {
    padding: 0px 7px 0px 7px;
    border-radius: 7px;
    background-color: #B9FF66;
    width: 164px;
    height: 51px;
    font-family: Space Grotesk;
    font-size: 40px;
    font-weight: 500;
    line-height: 51.04px;
    text-align: left;
    margin-right: 40px;
}

.sv-head p {
    width: 580px;
    height: 46px;
    font-family: Space Grotesk;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.97px;
}

.card {
    width: 1443px;
    height: 1010px;
    top: 1092px;
    padding: 0px 100px;
    gap: 40px;
}

.card-layout {
    width: 1240px;
    height: 1010px;
    gap: 40px;
    display: grid;
}

.carding {
    width: 600px;
    height: 310px;
    padding: 50px;
    border-radius: 45px;
    border: 1px solid #191A23;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.headlink {
    gap: 93px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.card-text {
    display: flex;
    flex-direction: column;
}

.card-text h3 {
    background-color: #B9FF66;
    font-family: Space Grotesk;
    margin: 0;
}

h3.up {
    padding: 0px 7px;
    gap: 10px;
    border-radius: 7px;
    width: 207px;
    height: 38px;
    font-size: 30px;
    font-weight: 500;
    line-height: 38.28px;
    text-align: left;
}

h3.down {
    width: 183px;
    height: 38px;
    padding: 0px 7px;
    gap: 10px;
    border-radius: 7px;
    font-size: 30px;
    font-weight: 500;
    line-height: 38.28px;
    text-align: left;
}

.card-text2 {
    /* width: Hug (164px)px;
    height: Hug (41px)px; */
    gap: 15px;
    margin-right: 57px;
    display: flex;
    align-items: center;
}

.card-text2 a {
    width: 108px;
    height: 28px;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-decoration: none;
    color: #000000;
    margin: 6.5px 0;
    margin-left: 15px;
}

.card-img {
    display: flex;
    align-items: center;
    height: 100%;
}

.card-img img {
    width: 210px;
    height: 166.05px;
    top: 2px;
}